/* ----------Header section-------*/
.profile-section:hover .login-form {
    display: block;
}

.login-form {
    display: none;
}

.profile-section .login-form {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

/*----------- Hero Section------------ */
.nav-item.bg-primary:hover .order-btn {
        display: block;
        background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.order-btn {
        z-index: 100000;
        display: none;
         
}

a.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    transition: all 0.2s ease; 
}


.pricingCard:hover,.pricingCard:hover{
     transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    transition: all 0.2s ease; 

}
.pricingCard .pricingCardLower1{
    background: linear-gradient(135deg, #0d6efd, #4dabf7);
    border-top-left-radius: 50px;
}
.pricingCard .pricingCardLower2{
    background:linear-gradient(135deg, #f80faa, #f793d6);
    border-top-left-radius: 50px;
}